@import '../../styles/variables';

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $gradient-secondary;
}

.password-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background: $black;
  border-radius: $input-border-radius;
  box-shadow: $box-shadow;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__logo {
    width: 100px;
    height: auto;
    margin-right: $margin-small;
    max-width: 100%;

    @media (max-width: 768px) {
      width: 60px;
    }

    @media (max-width: 576px) {
      width: 50px;
    }
  }

  &__title {
    font-size: 1.5rem;
    color: $white;
    padding: 0.5rem;
    border-radius: $input-border-radius;
  }

  &__group {
    margin-bottom: 1.5rem;
  }

  &__label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: $font-size;
    color: $secondary-color;
  }

  &__input {
    width: 100%;
    padding: $input-padding;
    font-size: $font-size;
    border: $input-border-width solid $input-border-color;
    border-radius: $input-border-radius;
    transition: border-color $transition-short ease-in-out, box-shadow $transition-short ease-in-out;

    &:focus {
      border-color: $primary-color;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.25);
    }

    &.ng-invalid.ng-touched,
    &.ng-invalid.ng-dirty {
      border-color: $danger-color;
    }
  }

  &__error {
    display: block;
    margin-top: 0.25rem;
    font-size: 0.875rem;
    color: $danger-color;

    ul {
      margin: 0.5rem 0 0;
      padding-left: 1.25rem;
    }

    li {
      list-style-type: disc;
    }
  }

  &__submit {
    padding: $input-padding;
    font-size: $font-size;
    color: $secondary-color;
    background-color: $primary-color;
    border: none;
    border-radius: $input-border-radius;
    cursor: pointer;
    transition: background-color $transition-short ease-in-out;

    &:disabled {
      background-color: $btn-disabled;
      cursor: not-allowed;
    }
  }

  @media (max-width: 768px) {
    width: 90%;
  }

  @media (max-width: 576px) {
    width: 95%;
  }
}
