<app-toast
*ngIf="!isLoading && toastMessage"
  [message]="toastMessage"
  [showToast]="showToast"
  [type]="toastType"
></app-toast>
<app-loading *ngIf="isLoading"></app-loading>
<div class="parent-container">
  <div class="password-form container mt-5">
    <div class="password-form__header">
      <img src="assets/zbra-logo.png" alt="Logo" class="password-form__logo" />
      <h3 class="password-form__title">Valide sua Senha</h3>
    </div>
    <form [formGroup]="form">
      <div class="form-group password-form__group">
        <label for="name" class="password-form__label">Nome</label>
        <input id="name" class="form-control password-form__input" formControlName="name" required />
        <div class="invalid-feedback password-form__error" *ngIf="name?.errors?.['required'] && (name?.dirty || name?.touched)">
          O campo Nome deve ser preenchido
        </div>
      </div>

      <div class="form-group password-form__group">
        <label for="email" class="password-form__label">Email</label>
        <input id="email" class="form-control password-form__input" formControlName="email" required />
        <div class="invalid-feedback password-form__error" *ngIf="email?.errors?.['required'] && (email?.dirty || email?.touched)">
          O campo E-mail deve ser preenchido
        </div>
        <div class="invalid-feedback password-form__error" *ngIf="email?.errors?.['email'] && (email?.dirty || email?.touched)">
          E-mail inválido
        </div>
      </div>

      <div class="form-group password-form__group">
        <label for="password" class="password-form__label">Senha</label>
        <input id="password" class="form-control password-form__input" formControlName="password" required type="password" />
        <div class="invalid-feedback password-form__error" *ngIf="password?.errors?.['required'] && (password?.dirty || password?.touched)">
          O campo Senha deve ser preenchido
        </div>
        <div class="invalid-feedback password-form__error" *ngIf="passwordErrors.length > 0">
          Senha inválida:
          <ul>
            <li *ngFor="let error of passwordErrors">{{ error }}</li>
          </ul>
        </div>
      </div>

      <button (click)="sendForm()" class="btn btn-primary password-form__submit" [disabled]="form.invalid || isLoading">
        Enviar
      </button>
    </form>
  </div>
</div>
